/**Google fonts**/
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,700,600&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Julius+Sans+One);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300);
@import url(https://fonts.googleapis.com/css?family=Raleway);
/**Google fonts**/
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,700,600&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Julius+Sans+One);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300);
@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,700,600&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Julius+Sans+One);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300);
@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,700,600&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Julius+Sans+One);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300);
@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,700,600&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Julius+Sans+One);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300);
@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,700,600&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Julius+Sans+One);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300);
@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,700,600&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Julius+Sans+One);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300);
@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,700,600&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Julius+Sans+One);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300);
@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,700,600&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Julius+Sans+One);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300);
@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,700,600&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Julius+Sans+One);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300);
@import url(https://fonts.googleapis.com/css?family=Raleway);
body {
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif; }

section {
  padding: 0 10px; }
  @media screen and (min-width: 481px) {
    section {
      padding: 0 50px; } }
  @media screen and (min-width: 768px) {
    section {
      padding: 0 20px; } }
  @media screen and (min-width: 992px) {
    section {
      padding: 0 80px; } }
  @media screen and (min-width: 1200px) {
    section {
      padding: 0 120px; } }
  @media screen and (min-width: 1400px) {
    section {
      padding: 0 200px; } }

/**Google fonts**/
/**Google fonts**/
@media screen and (min-width: 1200px) {
  #navigation {
    height: 50px; } }

@media screen and (min-width: 992px) {
  #navigation {
    height: 50px; } }

@media screen and (min-width: 768px) {
  #navigation {
    height: 50px; } }

@media screen and (min-width: 768px) {
  .navigation-div-background {
    background-color: #eff1f6;
    -webkit-box-shadow: 0 4px 5px #777777;
    -moz-box-shadow: 0 4px 5px #777777;
    box-shadow: 0 4px 5px #777777; } }

.background-collapse {
  background-color: #e7e9ee; }

.navbar-toggle .icon-bar {
  transition: 300ms ease-in-out;
  background-color: #000;
  position: relative;
  width: 24px;
  height: 3px; }

.navbar-toggle .icon-bar:nth-child(1) {
  opacity: 0; }

.navbar-toggle .icon-bar:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0px; }

.navbar-toggle .icon-bar:nth-child(3) {
  opacity: 1;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: -7px; }

.navbar-toggle.collapsed .icon-bar {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  top: 0;
  opacity: 1; }

.navbar {
  width: 100%;
  background-color: transparent;
  z-index: 9999; }

.navbar-header a.navbar-brand {
  color: #000000; }

.navbar-header a.navbar-brand:hover {
  color: #11a99d; }

@media screen and (min-width: 768px) {
  #hide-navbar {
    margin-top: 10px; } }

#hide-navbar ul {
  text-align: center;
  padding: 0px;
  list-style: none; }
  #hide-navbar ul li {
    text-align: right;
    text-decoration: none; }
    @media screen and (min-width: 768px) {
      #hide-navbar ul li {
        margin-right: 10px;
        margin-left: 10px;
        display: inline-block; } }
    @media screen and (min-width: 992px) {
      #hide-navbar ul li {
        margin-right: 15px;
        margin-left: 15px; } }
    #hide-navbar ul li a {
      font-size: 26px;
      text-decoration: none;
      color: #000000 !important;
      font-family: "Josefin Sans", Arial, sans-serif; }
      @media screen and (min-width: 481px) {
        #hide-navbar ul li a {
          font-size: 28px; } }
      @media screen and (min-width: 768px) {
        #hide-navbar ul li a {
          font-size: 30px; } }
      @media screen and (min-width: 992px) {
        #hide-navbar ul li a {
          font-size: 32px; } }
    #hide-navbar ul li a:hover {
      text-decoration: none;
      transition: 0.4s all linear;
      color: #11a99d !important;
      background-color: transparent; }
    #hide-navbar ul li a.activate {
      text-decoration: none;
      transition: 0.4s all linear;
      color: #11a99d !important;
      background-color: transparent; }

/**Google fonts**/
/**Google fonts**/
#homeSection {
  height: auto;
  min-height: 100vh;
  position: relative; }

#homeSection:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  z-index: -1;
  background: url("../images/BackgroundLittleSmaller.jpg") no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 1; }
  @media screen and (min-width: 768px) {
    #homeSection:after {
      background: url("../images/Background.jpg") no-repeat center fixed; } }

#home {
  height: inherit;
  padding: 100px 0 0 0;
  margin: 0px;
  position: relative;
  z-index: 999;
  text-align: center; }
  @media screen and (min-width: 481px) {
    #home {
      padding-top: 150px; } }
  @media screen and (min-width: 768px) {
    #home {
      padding-top: 150px;
      letter-spacing: 0.3em; } }
  @media screen and (min-width: 992px) {
    #home {
      padding-top: 200px;
      letter-spacing: 0.3em; } }
  #home * {
    display: none; }
  #home h1 {
    color: #5f5f5f;
    font-family: "Josefin Sans", Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 30px; }
    @media screen and (min-width: 481px) {
      #home h1 {
        font-size: 40px; } }
    @media screen and (min-width: 768px) {
      #home h1 {
        font-size: 50px;
        letter-spacing: 0.3em; } }
    @media screen and (min-width: 1200px) {
      #home h1 {
        font-size: 60px; } }
  #home hr#nameHr {
    background-color: #11a99d;
    margin-top: 5px;
    margin-bottom: 20px;
    width: 200px;
    height: 3px;
    border-top-color: #11a99d; }
    @media screen and (min-width: 481px) {
      #home hr#nameHr {
        width: 250px; } }
    @media screen and (min-width: 992px) {
      #home hr#nameHr {
        width: 320px; } }
  #home p {
    background-color: transparent;
    border-color: transparent;
    font-size: 20px;
    font-family: "Josefin Sans", Arial, sans-serif; }
    @media screen and (min-width: 768px) {
      #home p {
        font-size: 25px; } }
    @media screen and (min-width: 1200px) {
      #home p {
        font-size: 30px; } }

#skills {
  height: 100vh;
  background-color: white;
  z-index: 9999; }

/**Google fonts**/
/**Google fonts**/
#aboutMeSection {
  height: auto;
  padding: 0; }

#aboutMe {
  margin-bottom: 20px; }
  @media screen and (min-width: 768px) {
    #aboutMe {
      margin-bottom: 30px; } }
  @media screen and (min-width: 992px) {
    #aboutMe {
      margin-bottom: 100px; } }
  #aboutMe h2 {
    font-family: "Josefin Sans", Arial, sans-serif;
    padding-top: 80px;
    /*font-weight: 600;*/
    color: #11a99d;
    position: relative;
    z-index: 1;
    overflow: hidden;
    text-align: center;
    margin-bottom: 1px;
    font-size: 40px;
    line-height: 40px;
    padding-bottom: 30px; }
    @media screen and (min-width: 481px) {
      #aboutMe h2 {
        line-height: 45px; } }
    @media screen and (min-width: 768px) {
      #aboutMe h2 {
        line-height: 50px; } }
    @media screen and (min-width: 992px) {
      #aboutMe h2 {
        font-size: 45px;
        line-height: 60px; } }
    @media screen and (min-width: 1200px) {
      #aboutMe h2 {
        font-size: 50px; } }
  #aboutMe .row {
    margin-top: 10px;
    text-align: center; }
    @media screen and (min-width: 481px) {
      #aboutMe .row {
        margin-top: 10px; } }
    @media screen and (min-width: 768px) {
      #aboutMe .row {
        margin-top: 50px; } }
    #aboutMe .row .characterContainer {
      margin-top: 10px; }
      @media screen and (min-width: 992px) {
        #aboutMe .row .characterContainer {
          margin-top: 30px; } }
      #aboutMe .row .characterContainer i {
        font-size: 35px; }
      #aboutMe .row .characterContainer hr {
        width: 50%;
        background-color: #11a99d;
        border-top-color: #11a99d;
        height: 1px; }
      #aboutMe .row .characterContainer p {
        font-size: 18px;
        font-family: "Open Sans", sans-serif; }
        @media screen and (min-width: 768px) {
          #aboutMe .row .characterContainer p {
            font-size: 22px; } }
        @media screen and (min-width: 992px) {
          #aboutMe .row .characterContainer p {
            font-size: 24px; } }

.characterContainer {
  opacity: 0;
  -moz-transition: opacity 1000ms linear;
  -webkit-transition: opacity 1000ms linear;
  -o-transition: opacity 1000ms linear;
  transition: opacity 1000ms linear; }
  @media screen and (min-width: 992px) {
    .characterContainer {
      -moz-transition: opacity 1200ms linear;
      -webkit-transition: opacity 1200ms linear;
      -o-transition: opacity 1200ms linear;
      transition: opacity 1200ms linear; } }

.characterContainer.in-view {
  opacity: 1; }

/**Google fonts**/
/**Google fonts**/
#skillsSection {
  height: auto;
  background: #eff1f6; }
  #skillsSection .skills-container-fluid {
    text-align: center;
    background: inherit;
    height: auto;
    padding: 0 50px; }
    #skillsSection .skills-container-fluid h2 {
      font-family: "Josefin Sans", Arial, sans-serif;
      padding-top: 80px;
      /*font-weight: 600;*/
      color: #11a99d;
      position: relative;
      z-index: 1;
      overflow: hidden;
      text-align: center;
      margin-bottom: 1px;
      font-size: 40px;
      line-height: 40px;
      padding-bottom: 30px; }
      @media screen and (min-width: 481px) {
        #skillsSection .skills-container-fluid h2 {
          line-height: 45px; } }
      @media screen and (min-width: 768px) {
        #skillsSection .skills-container-fluid h2 {
          line-height: 50px; } }
      @media screen and (min-width: 992px) {
        #skillsSection .skills-container-fluid h2 {
          font-size: 45px;
          line-height: 60px; } }
      @media screen and (min-width: 1200px) {
        #skillsSection .skills-container-fluid h2 {
          font-size: 50px; } }
    #skillsSection .skills-container-fluid p {
      font-size: 16px; }
    #skillsSection .skills-container-fluid .row {
      text-align: center; }

.skills {
  margin: 15px 0; }
  @media screen and (min-width: 768px) {
    .skills {
      margin: 30px 0; } }

.skills-basic {
  padding-top: 20px; }
  .skills-basic .skills {
    padding: 15px 0; }
    @media screen and (min-width: 768px) {
      .skills-basic .skills {
        padding: 20px 0; } }

.skills-line {
  width: 100%;
  height: 5px;
  background-color: white;
  position: relative; }

.skills-line_percentage {
  position: absolute;
  height: 5px; }

.skills-line_percentage.skills-line__html {
  background-color: #d56b49; }

.skills-line_percentage.skills-line__css {
  background-color: #7cb1f4; }

.skills-line_percentage.skills-line__jquery {
  background-color: rgba(0, 26, 165, 0.65); }

.skills-line_percentage.skills-line__javascript {
  background-color: rgba(212, 212, 0, 0.46); }

.skills-line_percentage.skills-line__rwd {
  background-color: #54ae94; }

.skills-line_percentage.skills-line__sass {
  background-color: #CC6698; }

.skills-line_percentage.skills-line__bootstrap {
  background-color: rgba(86, 59, 126, 0.71); }

.skills-line_percentage.skills-line__photoshop {
  background-color: #7eccc6; }

.skills-line_percentage.skills-line__sass {
  background-color: #CC6698; }

#githubSection {
  height: auto;
  background-color: #626269;
  color: #ffffff; }
  #githubSection .github-container {
    padding: 50px 0 60px 0;
    text-align: center; }
    @media screen and (min-width: 481px) {
      #githubSection .github-container {
        position: relative;
        text-align: left; } }
  #githubSection img {
    width: 40px;
    height: 40px;
    padding: 0;
    margin: 0; }
    @media screen and (min-width: 481px) {
      #githubSection img {
        display: inline-block;
        margin-right: 20px;
        position: absolute;
        left: 0;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%); } }
  #githubSection h1 {
    font-size: 30px;
    padding-bottom: 30px; }
    @media screen and (min-width: 481px) {
      #githubSection h1 {
        margin-left: 60px;
        width: 50%;
        padding-bottom: 0px;
        display: inline-block;
        border-left: 2px dotted white;
        padding-left: 20px; } }
    @media screen and (min-width: 768px) {
      #githubSection h1 {
        width: 60%; } }
    @media screen and (min-width: 992px) {
      #githubSection h1 {
        font-size: 40px;
        width: 70%; } }
  #githubSection .github-container__btn {
    border: white 1px solid;
    background-color: transparent;
    padding: 15px 40px;
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    color: white; }
    @media screen and (min-width: 481px) {
      #githubSection .github-container__btn {
        position: absolute;
        padding: 10px 30px;
        right: 0;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%); } }
    @media screen and (min-width: 768px) {
      #githubSection .github-container__btn {
        padding: 15px 40px; } }
  #githubSection .github-container__btn:hover {
    border: black 1px solid;
    background-color: white;
    color: black;
    text-decoration: none; }

#developmentSection {
  height: auto;
  z-index: 1;
  position: relative; }

#developmentSection:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  z-index: -1;
  background: url("../images/computer.jpg") no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  @media screen and (min-width: 768px) {
    #developmentSection:after {
      background: url("../images/computer.jpg") no-repeat center fixed; } }

.development-container {
  padding: 100px 0;
  text-align: center;
  position: relative; }
  @media screen and (min-width: 768px) {
    .development-container {
      text-align: left;
      padding-left: 200px; } }
  .development-container h3 {
    margin: 0;
    font-size: 28px;
    padding-bottom: 20px; }
  .development-container p {
    font-size: 18px; }

.development-container-images > img {
  width: 80px;
  height: 80px; }

@media screen and (min-width: 768px) {
  .development-container-images {
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); } }

#portfolioSection {
  background-color: #eff1f6;
  min-height: 150vh;
  height: auto; }
  @media screen and (min-width: 768px) {
    #portfolioSection {
      min-height: 80vh; } }
  #portfolioSection .portfolio-container h2 {
    font-family: "Josefin Sans", Arial, sans-serif;
    padding-top: 80px;
    /*font-weight: 600;*/
    color: #11a99d;
    position: relative;
    z-index: 1;
    overflow: hidden;
    text-align: center;
    margin-bottom: 1px;
    font-size: 40px;
    line-height: 40px;
    padding-bottom: 30px;
    margin: 0; }
    @media screen and (min-width: 481px) {
      #portfolioSection .portfolio-container h2 {
        line-height: 45px; } }
    @media screen and (min-width: 768px) {
      #portfolioSection .portfolio-container h2 {
        line-height: 50px; } }
    @media screen and (min-width: 992px) {
      #portfolioSection .portfolio-container h2 {
        font-size: 45px;
        line-height: 60px; } }
    @media screen and (min-width: 1200px) {
      #portfolioSection .portfolio-container h2 {
        font-size: 50px; } }
  #portfolioSection p:first-of-type {
    text-align: center; }

.portfolio-myWork {
  padding-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center; }

.portfolio-myWork__element {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  color: #fff;
  text-align: center;
  font-size: 16px;
  background-color: #626269;
  line-height: 1.5em; }

.portfolio-myWork__element *,
.portfolio-myWork__element *:before,
.portfolio-myWork__element *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear; }

.portfolio-myWork__element img {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  vertical-align: top; }

.portfolio-myWork__element figcaption {
  position: absolute;
  top: 50%;
  width: 100%;
  -webkit-transform: translateY(-25%);
  transform: translateY(-25%);
  padding: 5px 40px;
  opacity: 0; }

.portfolio-myWork__element h3 {
  margin: 0;
  text-transform: uppercase;
  font-weight: 700; }

.portfolio-myWork__element p {
  font-weight: 400;
  margin: 0;
  font-size: 0.9em; }

.portfolio-myWork__element a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.portfolio-myWork__element:hover img,
.portfolio-myWork__element.hover img,
.portfolio_smallScreen {
  zoom: 1;
  filter: alpha(opacity=30);
  -webkit-opacity: 0.3;
  opacity: 0.3; }

.portfolio-myWork__element:hover figcaption,
.portfolio-myWork__element.hover figcaption,
.portfolio_smallScreen {
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: 1; }

.portfolio-myWork__element i {
  width: 30px;
  line-height: 30px;
  font-size: 15px;
  position: absolute;
  right: 0;
  bottom: 0;
  top: auto;
  z-index: 1;
  background-color: #626269;
  color: #eff1f6; }

.portfolio-separator {
  height: 10px; }

#contactSection {
  min-height: 80vh;
  height: auto;
  background: url("../images/ContactMin.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  z-index: 1; }
  @media screen and (min-width: 768px) {
    #contactSection {
      background: url("../images/Contact.jpg") no-repeat center center fixed; } }
  #contactSection #contact {
    height: inherit; }
    #contactSection #contact h2 {
      font-family: "Josefin Sans", Arial, sans-serif;
      padding-top: 80px;
      /*font-weight: 600;*/
      color: #11a99d;
      position: relative;
      z-index: 1;
      overflow: hidden;
      text-align: center;
      margin-bottom: 1px;
      font-size: 40px;
      line-height: 40px;
      padding-bottom: 30px; }
      @media screen and (min-width: 481px) {
        #contactSection #contact h2 {
          line-height: 45px; } }
      @media screen and (min-width: 768px) {
        #contactSection #contact h2 {
          line-height: 50px; } }
      @media screen and (min-width: 992px) {
        #contactSection #contact h2 {
          font-size: 45px;
          line-height: 60px; } }
      @media screen and (min-width: 1200px) {
        #contactSection #contact h2 {
          font-size: 50px; } }
    #contactSection #contact .row {
      z-index: 1; }
    #contactSection #contact .contactList {
      text-align: center;
      list-style: none;
      color: black;
      padding: 20px 0 50px 0;
      margin: 0; }
      @media screen and (min-width: 768px) {
        #contactSection #contact .contactList {
          padding: 50px 0; } }
      #contactSection #contact .contactList li {
        padding-bottom: 20px; }
        @media screen and (min-width: 768px) {
          #contactSection #contact .contactList li {
            display: inline-block;
            width: 30%; } }
        #contactSection #contact .contactList li i, #contactSection #contact .contactList li p:first-of-type {
          font-size: 24px; }
          @media screen and (min-width: 768px) {
            #contactSection #contact .contactList li i, #contactSection #contact .contactList li p:first-of-type {
              font-size: 28px; } }
        #contactSection #contact .contactList li p:first-of-type {
          padding-top: 10px;
          font-family: "Josefin Sans", Arial, sans-serif; }
          @media screen and (min-width: 768px) {
            #contactSection #contact .contactList li p:first-of-type {
              font-weight: 600; } }
        #contactSection #contact .contactList li p:last-of-type {
          font-size: 14px; }
          @media screen and (min-width: 768px) {
            #contactSection #contact .contactList li p:last-of-type {
              font-size: 16px; } }
        #contactSection #contact .contactList li hr {
          width: 20%;
          background-color: #11a99d;
          border-top-color: #11a99d;
          height: 1px; }
          @media screen and (min-width: 768px) {
            #contactSection #contact .contactList li hr {
              width: 50%; } }

footer {
  height: 20vh;
  background-color: #626269;
  position: relative; }
  footer .footer-container {
    text-align: center;
    color: white;
    font-family: "Josefin Sans", Arial, sans-serif;
    font-size: 20px;
    padding-top: 20px; }
    footer .footer-container a {
      position: absolute;
      top: -10%;
      left: 50%;
      transform: translateX(-50%);
      background-color: white;
      width: 40px;
      height: 40px;
      border-radius: 20px; }
      footer .footer-container a i {
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
        color: #11a99d; }
    footer .footer-container a:hover i {
      font-size: 24px; }
    footer .footer-container p {
      padding-top: 50px; }

.contactList {
  opacity: 0;
  -moz-transition: all 400ms linear;
  -webkit-transition: all 400ms linear;
  -o-transition: all 400ms linear;
  transition: all 400ms linear;
  -moz-transform: translate3d(0px, 50px, 0px);
  -webkit-transform: translate3d(0px, 50px, 0px);
  -o-transform: translate(0px, 50px);
  -ms-transform: translate(0px, 50px);
  transform: translate3d(0px, 50px, 0px); }
  @media screen and (min-width: 992px) {
    .contactList {
      -moz-transition: all 1000ms linear;
      -webkit-transition: all 1000ms linear;
      -o-transition: all 1000ms linear;
      transition: all 1000ms linear;
      -moz-transform: translate3d(0px, 100px, 0px);
      -webkit-transform: translate3d(0px, 100px, 0px);
      -o-transform: translate(0px, 100px);
      -ms-transform: translate(0px, 100px);
      transform: translate3d(0px, 100px, 0px); } }

.contactList.in-view {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px); }
