
.aboutSection {
  height: 100vh;
  min-height:1000px;
  @include medium{
    min-height:800px;
  }
}

.about-container {
  margin-bottom: 20px;
  @include medium {
    margin-bottom: 30px;
  }

  @include large {
    margin-bottom: 100px;
  }

  h2 {
    @include header2();
  }

  .about-content {
    margin: 40px auto;
    @include medium {
      margin-bottom: 30px;
      display: flex;
      display: -webkit-flex;
      align-content: center;
    }

  }

}

.about-content-photo {
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;

  img {
    max-width: 100%;
    max-height: 100%;
    width: 40%;
    height: auto;

    @include medium {
      width: 90%;
    }

  }
}

.about-content-desc {

  @include medium {
    margin-left: 10%;
  }
}

.about-content-desc-elem {

  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  margin:20px auto;

  @include medium {
    justify-content: flex-start;
    margin: 30px 0;
    flex-wrap: nowrap;
    text-align: left;
  }

  .about-elem-sprite {
    position: relative;
    background-image: url("../images/about.png");
    width: 64px;
    height: 64px;
    min-width: 64px;
    min-height: 64px;
  }

  .about-elem-sprite__hello {
    background-position: 64px 0;
  }
  .about-elem-sprite__passion {
    background-position: 0 0;
  }
  .about-elem-sprite__student {
    background-position: 0 64px;
  }
  .about-elem-sprite__traveler {
    background-position: 64px 64px;
  }

  span {
    width: 100%;
    @include medium {
      width: auto;
      margin-left:50px;
    }
    @include large {
      font-size: 2.5rem;
    }
  }
}

.about-download {
  text-align: center;
  margin: 50px auto;
}