

#navigation {
    @include xlarge {
        height: 50px;
    }

    @include large {
        height: 50px;
    }

    @include medium {
        height: 50px;
    }
}

.navigation-div-background{

    @include medium {
        background-color:#eff1f6;
        -webkit-box-shadow: 0 4px 5px #777777;
        -moz-box-shadow: 0 4px 5px #777777;
        box-shadow: 0 4px 5px #777777;
    }
}

.background-collapse{
    background-color:#e7e9ee;
}

.navbar-toggle {
    .icon-bar {
        transition: 300ms ease-in-out;
        background-color: #000;
        position: relative;
        width: 24px;
        height: 3px;
    }

    .icon-bar:nth-child(1) {
        opacity: 0;
    }
    .icon-bar:nth-child(2) {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 0px;
    }

    .icon-bar:nth-child(3) {
        opacity: 1;
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: -7px;
    }

    &.collapsed {
        .icon-bar {
            -webkit-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            top: 0;
            opacity: 1;
        }
    }
}

.navbar {
    width: 100%;
    background-color: $navbar-background-color;
    z-index: 9999;
   
}

.navbar-header {
    a.navbar-brand {
        color: $navbar-font-color;
    }

    a.navbar-brand:hover {
        color: $navbar-font-hover-color;
    }
}



#hide-navbar {
    @include medium {
        margin-top: 10px;
    }

    ul {
        text-align: center;
        padding: 0px;
        list-style: none;
        li {
            text-align: right;
            text-decoration: none;

            @include medium {
                margin-right: 10px;
                margin-left: 10px;
                display: inline-block;
            }
            @include large {
                margin-right: 15px;
                margin-left: 15px;
            }

            a {
                font-size: 26px;
                @include small {
                    font-size: 28px;
                }
                @include medium {
                    font-size: 30px;
                }
                @include large {
                    font-size: 32px;
                }

                text-decoration: none;
                color: $navbar-font-color !important;
                font-family: $header-font-family;

            }

            a:hover {
                text-decoration: none;
                transition: 0.4s all linear;
                color: $navbar-font-hover-color !important;
                background-color: $navbar-background-color;
            }

            a.activate {
                text-decoration: none;
                transition: 0.4s all linear;
                color: $navbar-font-hover-color !important;
                background-color: $navbar-background-color;
            }
            a:active {
                color: $main-color !important;
            }
        }
    }
}
