/**Google fonts**/
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,700,600&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Julius+Sans+One);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300);
@import url(https://fonts.googleapis.com/css?family=Raleway);

$navbar-background-color: transparent;
$navbar-font-color: #000000;
$navbar-font-hover-color: #11a99d;
$main-color: #11a99d;
$header-font-family: 'Josefin Sans', Arial, sans-serif;
$content-font-family:'Open Sans', sans-serif;
$screen-sm-max: 500px;
$section-background-color-light:#e7e9ee;
$section-background-color-dark:#626269;
$portfolio-footer-font:'Julius Sans One', Arial, sans-serif;