<!DOCTYPE html>
<html>
<head>
    <title>Justyna Wojciechowska</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta name="description" content="Justyna Wojciechowska - początkujący frontend developer.">
    <meta name="keywords" content="Front-end developer, front-end, portfolio, Justyna Wojciechowska, strony internetowe, tworzenie stron">
    <link href="../bootstrap/css/bootstrap.css" rel="stylesheet"/>
    <link href="../css/AllStyles.css" rel="stylesheet"/>
</head>
<body >
<nav id="navigation" class="navbar navbar-fixed-top" role="navigation">

    <div id="navigation-div" class="container-fluid">
        <div class="navbar-header">
            <button id="hamburger" type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#hide-navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="hide-navbar">
            <ul id="nav">
                <li><a href="#homeSection">Strona główna</a></li>
                <li><a href="#aboutMeSection">O mnie</a></li>
                <li><a href="#skillsSection">Umiejętności</a></li>
                <li><a href="#portfolioSection">Portfolio</a></li>
                <li><a href="#contactSection">Kontakt</a></li>
            </ul>
        </div>
    </div>
</nav>


<section id="homeSection">
    <div class="container-fluid" id="home">

        <h1 id="name">Justyna <span style="display: block;">Wojciechowska</span></h1>
        <hr id="nameHr"/>
        <p id="nameIntro">Początkujący Front-end Developer</p>

        <!--<a href="#aboutMeSection" class="btn btn-default"></a>
        <a href="#contactSection" class="btn btn-default"> </a>-->
    </div>

</section>

<section id="aboutMeSection">
    <div class="container-fluid" id="aboutMe">
        <h2>
            O mnie
        </h2>


        <div class="row">

            <div class=" col-xs-12 col-sm-6 col-lg-3 characterContainer">
                <i class="glyphicon glyphicon-home"></i>
                <hr/>
                <p>Cześć, jestem Justyna</p>
            </div>

            <div class=" col-xs-12 col-sm-6 col-lg-3 characterContainer">
                <i class="glyphicon glyphicon-education"></i>
                <hr/>
                <p>Studiuję informatykę i ekonometrię</p>
            </div>

            <div class=" col-xs-12 col-sm-6 col-lg-3 characterContainer">
                <i class="glyphicon glyphicon-heart"></i>
                <hr/>
                <p>Moją miłością są technologie front-endowe</p>
            </div>

            <div class=" col-xs-12 col-sm-6 col-lg-3 characterContainer">
                <i class="glyphicon glyphicon-star"></i>
                <hr/>
                <p>A w wolnym czasie oglądam <br/> Grę o Tron i gram w planszówki</p>
            </div>

        </div>

    </div>
</section>

<section id="skillsSection">
    <div class="skills-container-fluid" id="skills">
        <h2>
            Umiejętności
        </h2>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-lg-3 skills">
                <h3>HTML5</h3>
                <p>Dobra znajomość</p>
                <div class="skills-line">
                    <div class="skills-line_percentage skills-line__html" data-percentage="75%"></div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-lg-3 skills">
                <h3>CSS3</h3>
                <p>Dobra znajomość</p>
                <div class="skills-line">
                    <div class="skills-line_percentage skills-line__css" data-percentage="75%"></div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-3 skills">
                <h3>JavaScript</h3>
                <p>Podstawowa znajomość</p>
                <div class="skills-line">
                    <div class="skills-line_percentage skills-line__javascript" data-percentage="40%"></div>
                </div>
            </div>


            <div class="col-xs-12 col-sm-6 col-lg-3 skills">
                <h3>jQuery</h3>
                <p>Podstawowa znajomość</p>
                <div class="skills-line">
                    <div class="skills-line_percentage skills-line__jquery" data-percentage="50%"></div>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-xs-12 col-sm-6 col-lg-3 skills">
                <h3>RWD</h3>
                <p>Dobra znajomość</p>
                <div class="skills-line">
                    <div class="skills-line_percentage skills-line__rwd" data-percentage="60%"></div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-lg-3 skills">
                <h3>Sass</h3>
                <p>Dobra znajomość</p>
                <div class="skills-line">
                    <div class="skills-line_percentage skills-line__sass" data-percentage="65%"></div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-lg-3 skills">
                <h3>Bootstrap</h3>
                <p>Dobra znajomość
                <div class="skills-line">
                    <div class="skills-line_percentage skills-line__bootstrap" data-percentage="60%"></div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-3 skills">
                <h3>Photoshop</h3>
                <p>Podstawowa znajomość</p>
                <div class="skills-line">
                    <div class="skills-line_percentage skills-line__photoshop" data-percentage="40%"></div>
                </div>
            </div>
        </div>

        <div class="row skills-basic">
            <div class="col-xs-6 col-sm-4 col-lg-2 skills">
                <h3>Git</h3>
                <p>Podstawowa znajomość</p>
            </div>

            <div class="col-xs-6 col-sm-4 col-lg-2 skills">
                <h3>Gulp</h3>
                <p>Podstawowa znajomość</p>
            </div>

            <div class="col-xs-6 col-sm-4 col-lg-2 skills">
                <h3>Gimp</h3>
                <p>Podstawowa znajomość</p>
            </div>

            <div class="col-xs-6 col-sm-4 col-lg-2 skills">
                <h3>C#</h3>
                <p>Podstawowa znajomość</p>
            </div>

            <div class="col-xs-6 col-sm-4 col-lg-2 skills">
                <h3>SEO</h3>
                <p>Podstawowa znajomość</p>
            </div>
            <div class="col-xs-6 col-sm-4 col-lg-2 skills">
                <h3>SQL</h3>
                <p>Dobra znajomość</p>
            </div>
        </div>
    </div>
</section>


<section id="developmentSection">
    <div class="development-container">
        <h3>Rozwój</h3>
        <p>W najbliższym czasie planuję poszerzać moją znajomość JavaScriptu oraz poznać framework Angular.js.</p>
        <div class="development-container-images">
            <img src="../images/js.png"/>
            <img src="../images/angular.png"/>
        </div>
    </div>
</section>

<section id="portfolioSection">
    <div class="portfolio-container" id="portfolio">
        <h2>Portfolio</h2>


        <div class="portfolio-myWork">

            <figure class="portfolio-myWork__element">
                <img src="../images/wapik.jpg"/>
                <figcaption>
                    <h3>Wapik Template</h3>
                    <p>Strona wykonana na podstawie szablonu psd</p>
                </figcaption>

                <a href="http://wapiktemplate.azurewebsites.net/" target="_blank">
                    <i class="glyphicon glyphicon-chevron-right"></i></a>
            </figure>

            <figure class="portfolio-myWork__element">
                <img src="../images/handmade.JPG"/>
                <figcaption>
                    <h3>HandMade Dzasty</h3>
                    <p>Pierwszy projekt - frontend dla sklepu internetowego</p>
                </figcaption>
                <a href="http://handmadedzasty.azurewebsites.net" target="_blank">
                    <i class="glyphicon glyphicon-chevron-right"></i></a>
            </figure>

            <figure class="portfolio-myWork__element">
                <img src="../images/itad.jpg"/>
                <figcaption>
                    <h3>ITAD 2015</h3>
                    <p>Strona internetowa konferencji IT Academic Day na Uniwersytecie Ekonomicznym</p>
                </figcaption>
                <a href="http://uep.itad.poznan.pl/" target="_blank">
                    <i class="glyphicon glyphicon-chevron-right"></i></a>
            </figure>

            <figure class="portfolio-myWork__element">
                <img src="../images/BackgroundMin.jpg"/>
                <figcaption>
                    <h3>Personal Web Page</h3>
                    <p>Moja wizytówka i portfolio</p>
                </figcaption>
                <a href="http://justynawojciechowska.pl/" target="_blank">
                    <i class="glyphicon glyphicon-chevron-right"></i></a>
            </figure>

            <figure class="portfolio-myWork__element">
                <img src="../images/fashionTemplate.jpg"/>
                <figcaption>
                    <h3>(w budowie) Fashion Template</h3>
                    <p>Strona na podstawie szablonu PSD</p>
                </figcaption>
                <a href="https://github.com/dzastaa92/fashion-smart-template" target="_blank">
                    <i class="glyphicon glyphicon-chevron-right"></i></a>
            </figure>

        </div>
    </div>
    <div class="portfolio-separator"></div>
</section>

<section id="githubSection">
    <div class="github-container">
        <img src="../images/github-white.png"/>
        <h1>Moje projekty udostępnione na GitHubie</h1>
        <a href="https://github.com/dzastaa92" target="_blank" class="github-container__btn">Mój GitHub</a>
    </div>
</section>
<section id="contactSection">

    <div class="container-fluid" id="contact">

        <h2>Kontakt</h2>

        <div class="row">
            <div class="col-xs-12">

                <ul class="contactList">
                    <li>
                        <i class="glyphicon glyphicon-phone-alt"></i>
                        <p>telefon</p>
                        <hr/>
                        <p>695946890</p>
                    </li>
                    <li>
                        <i class="glyphicon glyphicon-envelope"></i>
                        <p>e-mail</p>
                        <hr/>
                        <p>justyna_wojciechowska92@vp.pl </p>
                    </li>
                    <li>
                        <i class="glyphicon glyphicon-home"></i>
                        <p>miasto</p>
                        <hr/>
                        <p>Poznań</p>
                    </li>

                </ul>
            </div>


        </div>
    </div>
</section>

<footer>
    <div class="footer-container">

        <a href="#home">
            <i class="glyphicon glyphicon-chevron-up"></i>
        </a>

        <p>@2016 Justyna Wojciechowska</p>
    </div>
</footer>

<script src="../Scripts/jquery-2.1.4.js"></script>
<script src="../bootstrap/js/bootstrap.js"></script>
<script src="../Scripts/mainScript.js"></script>
</body>
</html>