<!DOCTYPE html>
<html>
<head>
    <title>Justyna Wojciechowska</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta name="description" content="Justyna Wojciechowska - początkujący frontend developer.">
    <meta name="keywords"
          content="Front-end developer, front-end, portfolio, Justyna Wojciechowska, strony internetowe, tworzenie stron">
    <link href="../bootstrap/css/bootstrap.css" rel="stylesheet"/>
    <link href="../pre-css/AllStyles.css" rel="stylesheet"/>
    <link rel="stylesheet" href="../css/normalize.css">
</head>
<body>
<nav id="navigation" class="navbar navbar-fixed-top" role="navigation">
    <div id="navigation-div" class="container-fluid navigation-div">
        <div class="navbar-header">
            <button id="hamburger" type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#hide-navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="hide-navbar">
            <ul id="nav">
                <li><a href="#homeSection">Strona główna</a></li>
                <li><a href="#aboutSection">O mnie</a></li>
                <li><a href="#skillsSection">Umiejętności</a></li>
                <li><a href="#portfolioSection">Portfolio</a></li>
                <li><a href="#contactSection">Kontakt</a></li>
            </ul>
        </div>
    </div>
</nav>

<section id="homeSection" class="main-section homeSection">
    <div class="homeSection-content bouncy" id="home">
        <h1>Justyna Wojciechowska</h1>
        <p>Junior Front-end Developer</p>
        <div class="action-wrapper">
            <a href="#portfolioSection" class="allSection-btn " data-hover="Portfolio"> <span>Portfolio</span> </a>
            <a href="#contactSection" class="allSection-btn" data-hover="Kontakt"><span>Kontakt</span></a>
        </div>
    </div>
</section>

<section id="aboutSection" class="main-section aboutSection">
    <div class="about-container" id="about">
        <h2>
            O mnie
        </h2>

        <div class="about-content">
            <div class="about-content-photo">
                <img src="../images/photo.png"/>
            </div>

            <div class="about-content-desc">
                <div class="about-content-desc-elem">
                    <div class="about-elem-sprite about-elem-sprite__hello"></div>
                    <span>
                        Cześć, jestem Justyna!
                    </span>
                </div>
                <div class="about-content-desc-elem">
                    <div class="about-elem-sprite about-elem-sprite__passion"></div>
                    <span>
                        Miłośnik technlogii front-endowych
                    </span>
                </div>
                <div class="about-content-desc-elem">
                    <div class="about-elem-sprite about-elem-sprite__student"></div>
                    <span>
                        Absolwent informatyki i ekonometrii
                    </span>
                </div>
                <div class="about-content-desc-elem">
                    <div class="about-elem-sprite about-elem-sprite__traveler"></div>
                    <span>
                        Zapalony podróżnik oraz pasjonat gotowania
                    </span>
                </div>
            </div>

        </div>


    </div>
</section>

<!--<section class="showCVSection">-->
    <!--<div class="showCV">-->
        <!--<a class="allSection-btn showCV-btn" data-hover="Pobierz moje CV" href="../images/CV.png" download><span>Pobierz moje CV</span></a>-->
    <!--</div>-->
<!--</section>-->

<section id="skillsSection" class="main-section">
    <div class="skills-container-fluid" id="skills">
        <h2>
            Umiejętności
        </h2>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-lg-3 skills">
                <h3>HTML5</h3>
                <p>Dobra znajomość</p>
                <div class="skills-line">
                    <div class="skills-line_percentage skills-line__html" data-percentage="75%"></div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-lg-3 skills">
                <h3>CSS3</h3>
                <p>Dobra znajomość</p>
                <div class="skills-line">
                    <div class="skills-line_percentage skills-line__css" data-percentage="75%"></div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-3 skills">
                <h3>JavaScript</h3>
                <p>Podstawowa znajomość</p>
                <div class="skills-line">
                    <div class="skills-line_percentage skills-line__javascript" data-percentage="40%"></div>
                </div>
            </div>


            <div class="col-xs-12 col-sm-6 col-lg-3 skills">
                <h3>jQuery</h3>
                <p>Podstawowa znajomość</p>
                <div class="skills-line">
                    <div class="skills-line_percentage skills-line__jquery" data-percentage="50%"></div>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-xs-12 col-sm-6 col-lg-3 skills">
                <h3>RWD</h3>
                <p>Dobra znajomość</p>
                <div class="skills-line">
                    <div class="skills-line_percentage skills-line__rwd" data-percentage="60%"></div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-lg-3 skills">
                <h3>Sass</h3>
                <p>Dobra znajomość</p>
                <div class="skills-line">
                    <div class="skills-line_percentage skills-line__sass" data-percentage="65%"></div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-lg-3 skills">
                <h3>Bootstrap</h3>
                <p>Dobra znajomość
                <div class="skills-line">
                    <div class="skills-line_percentage skills-line__bootstrap" data-percentage="60%"></div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-3 skills">
                <h3>Photoshop</h3>
                <p>Podstawowa znajomość</p>
                <div class="skills-line">
                    <div class="skills-line_percentage skills-line__photoshop" data-percentage="40%"></div>
                </div>
            </div>
        </div>

        <div class="row skills-basic">
            <div class="col-xs-6 col-sm-4 col-lg-2 skills">
                <h3>Wordpress</h3>
                <p>Podstawowa znajomość</p>
            </div>

            <div class="col-xs-6 col-sm-4 col-lg-2 skills">
                <h3>Git</h3>
                <p>Podstawowa znajomość</p>
            </div>

            <div class="col-xs-6 col-sm-4 col-lg-2 skills">
                <h3>Gulp</h3>
                <p>Podstawowa znajomość</p>
            </div>

            <div class="col-xs-6 col-sm-4 col-lg-2 skills">
                <h3>Gimp</h3>
                <p>Podstawowa znajomość</p>
            </div>

            <div class="col-xs-6 col-sm-4 col-lg-2 skills">
                <h3>SEO</h3>
                <p>Podstawowa znajomość</p>
            </div>
            <div class="col-xs-6 col-sm-4 col-lg-2 skills">
                <h3>SQL</h3>
                <p>Dobra znajomość</p>
            </div>
        </div>
    </div>
</section>


<section id="developmentSection">
    <div class="development-container">
        <h3>Rozwój</h3>
        <div class="development-container-images">
            <img src="../images/js.png"/>
            <img src="../images/angular.png"/>
        </div>
        <p>W najbliższym czasie planuję poszerzać moją znajomość JavaScriptu oraz poznać framework Angular.js.</p>
    </div>
</section>

<section id="portfolioSection" class="main-section portfolioSection">
    <div class="portfolio-container" id="portfolio">
        <h2>Portfolio</h2>


        <div class="portfolio-myWork">

            <figure class="portfolio-myWork__element">
                <img src="../images/wapik.jpg"/>
                <figcaption>
                    <h3>Wapik Template</h3>
                    <p>Strona wykonana na podstawie szablonu psd</p>
                </figcaption>

                <a href="http://wapiktemplate.azurewebsites.net/" target="_blank">
                 </a>
            </figure>

            <figure class="portfolio-myWork__element">
                <img src="../images/fashionTemplate.jpg"/>
                <figcaption>
                    <h3> Fashion Template</h3>
                    <p>Strona wykonana na podstawie szablonu PSD</p>
                </figcaption>
                <a href="http://fashionsmart.azurewebsites.net/" target="_blank">
                </a>
            </figure>
            <figure class="portfolio-myWork__element">
                <img src="../images/handmade.JPG"/>
                <figcaption>
                    <h3>HandMade Dzasty</h3>
                    <p>Pierwszy zrealizowany projekt - sklep internetowy z biżuterią handmade</p>
                </figcaption>
                <a href="http://handmadedzasty.azurewebsites.net" target="_blank">
                    </a>
            </figure>

            <figure class="portfolio-myWork__element">
                <img src="../images/itad.jpg"/>
                <figcaption>
                    <h3>ITAD 2015</h3>
                    <p>Strona internetowa konferencji IT Academic Day na Uniwersytecie Ekonomicznym</p>
                </figcaption>
                <a href="http://uep.itad.poznan.pl/" target="_blank">
                    </a>
            </figure>

            <figure class="portfolio-myWork__element">
                <img src="../images/portfolio.jpg"/>
                <figcaption>
                    <h3>Personal Web Page</h3>
                    <p>Moja wizytówka i portfolio</p>
                </figcaption>
                <a href="http://justynawojciechowska.pl/" target="_blank">
                   </a>
            </figure>

            <figure class="portfolio-myWork__element">
                <img src=""/>
                <figcaption>
                    <h3>Jacht</h3>
                    <p>Strona firmowa na Wordpress Cooming soon</p>
                </figcaption>
                <a href="http://justynawojciechowska.pl/" target="_blank">
                </a>
            </figure>

        </div>
    </div>
    <div class="portfolio-separator"></div>
</section>

<section id="githubSection">
    <div class="github-container">
        <img src="../images/github-white.png"/>
        <h1>Moje projekty udostępnione na GitHubie</h1>
        <a href="https://github.com/dzastaa92" target="_blank" class="github-container__btn">Mój GitHub</a>
    </div>
</section>

<section id="contactSection" class="main-section">

    <div class="container-fluid" id="contact">

        <h2>Kontakt</h2>

        <div class="row">
            <div class="col-xs-12">

                <ul class="contactList">
                    <li>
                        <i class="glyphicon glyphicon-phone-alt"></i>
                        <p>telefon</p>
                        <hr/>
                        <p>695946890</p>
                    </li>
                    <li>
                        <i class="glyphicon glyphicon-envelope"></i>
                        <p>e-mail</p>
                        <hr/>
                        <p>justyna_wojciechowska92@vp.pl </p>
                    </li>
                    <li>
                        <i class="glyphicon glyphicon-home"></i>
                        <p>miasto</p>
                        <hr/>
                        <p>Poznań</p>
                    </li>

                </ul>
            </div>


        </div>
    </div>
</section>

<footer>
    <div class="footer-container">

        <a href="#home">
            <i class="glyphicon glyphicon-chevron-up"></i>
        </a>

        <p>@2016 Justyna Wojciechowska</p>
    </div>
</footer>

<script src="../Scripts/jquery-2.1.4.js"></script>
<script src="../bootstrap/js/bootstrap.js"></script>
<script src="../Scripts/mainScript.js"></script>
</body>
</html>